{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_competvet/view/plannings


    Example context (json):
    {
        "categories": [
            {
                "categoryid": 1,
                "categorytext": "Category 1",
                "plannings": [
                    {
                        "id": 1,
                        "startdate": "01/01/2019",
                        "enddate": "01/01/2019",
                        "groupname": "Group 1",
                        "nbstudents": 1,
                        "planningurl": "http://localhost/moodle/mod/competvet/view.php?id=1&planningid=1"
                    },
                    {
                        "id": 2,
                        "startdate": "01/01/2019",
                        "enddate": "01/01/2019",
                        "groupname": "Group 2",
                        "nbstudents": 2,
                        "planningurl": "http://localhost/moodle/mod/competvet/view.php?id=1&planningid=2"
                    }
                ]
            },
            {
                "categoryid": 2,
                "categorytext": "Category 2",
                "plannings": [
                    {
                        "id": 3,
                        "startdate": "01/01/2019",
                        "enddate": "01/01/2019",
                        "groupname": "Group 1",
                        "nbstudents": 1,
                        "planningurl": "http://localhost/moodle/mod/competvet/view.php?id=1&planningid=1"
                    },
                    {
                        "id": 4,
                        "startdate": "01/01/2019",
                        "enddate": "01/01/2019",
                        "groupname": "Group 2",
                        "nbstudents": 2,
                        "planningurl": "http://localhost/moodle/mod/competvet/view.php?id=1&planningid=2"
                    }
                ]
            }
        ],
        "lintolny": true
    }
}}
<form class="form mb-5 simplesearchform">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center w-100 flex-column flex-lg-row">
            <div class="input-group mb-2 mb-lg-0 ">
                <label for="studentsearch-{{uniqid}}">
                    <span class="sr-only">{{#str}}search:student, mod_competvet{{/str}}</span>
                </label>
                <input type="text"
                       id="studentsearch-{{uniqid}}"
                       class="form-control"
                       placeholder="{{#str}}search:student, mod_competvet{{/str}}"
                       aria-label="{{#str}}search:student, mod_competvet{{/str}}"
                       name="studentsearch"
                       data-region="input"
                       autocomplete="off"
                       value="{{studentsearch}}"
                >
            </div>
            <div class="input-group mb-2 mb-lg-0 ml-lg-3">
                <label for="groupsearch-{{uniqid}}">
                    <span class="sr-only">{{#str}}search:group, mod_competvet{{/str}}</span>
                </label>
                <input type="text"
                       id="groupsearch-{{uniqid}}"
                       class="form-control"
                       placeholder="{{#str}}search:group, mod_competvet{{/str}}"
                       aria-label="{{#str}}search:group, mod_competvet{{/str}}"
                       name="groupsearch"
                       data-region="input"
                       autocomplete="off"
                       value="{{groupsearch}}"
                >
            </div>
            <div class="input-group mb-2 mb-lg-0  ml-lg-3">
                <label for="startdate">
                    <span class="sr-only">{{#str}}search:startdate, mod_competvet{{/str}}</span>
                </label>
                <input type="date" id="startdate" name="startdate" value="{{startdate}}" data-field="startdate" class="form-control {{#errorenddate}}error{{/errorenddate}}">
                <div class="input-group-append">
                    <button id="clearstartdate" class="btn btn-outline-secondary">
                       <i class="icon fa fa-times"></i>
                       <span class="sr-only">{{#str}}search:clearstartdate, mod_competvet{{/str}}</span>
                    </button>
                </div>
            </div>
            <div class="input-group mb-2 mb-lg-0  ml-lg-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchungraded">
                    <label class="custom-control-label" for="searchungraded">{{#str}}search:ungraded, mod_competvet{{/str}}</label>
                </div>
            </div>
            <div class="ml-lg-auto mb-2 mb-lg-0 ">
                <!-- Export CSV button: displayed when the onclick event is enabled -->
                <button data-action="exportcsv" class="btn btn-primary text-nowrap d-none">
                    {{#str}}exportxls, mod_competvet{{/str}}
                </button>
            </div>
        </div>
    </div>
</form>
<table class="competvet-grade-table w-100">
    <tr class="legend">
        <th class="label first"></th>
        <th class="label">{{#str}}stats, mod_competvet{{/str}}</th>
        <th class="label">{{#str}}grade, mod_competvet{{/str}} / 100</th>
        <th class="label last">{{#str}}evaluator:role, mod_competvet{{/str}}</th>
    </tr>
    {{#categories}}
        {{#plannings}}
            <tr class="planning" data-planningid="{{id}}" data-starttimestamp="{{starttimestamp}}" data-endtimestamp="{{endtimestamp}}" data-startdate="{{startdate}}" data-enddate="{{enddate}}">
                <th class="planning-name" colspan="4">
                    <div class="position-relative d-flex align-items-center">
                        {{< mod_competvet/expandcollapse}}
                            {{$id}}{{id}}{{/id}}
                        {{/ mod_competvet/expandcollapse}}
                        <div class="d-flex w-100 align-items-center">
                            <div class="h3 mb-0 ml-2" data-region="groupname">{{groupname}}</div>
                            <div class="ml-1 mb-2"><span class="badge badge-info">{{categorytext}}</span></div>
                            <div class="ml-auto">{{startdate}} / {{enddate}}</div>
                        </div>
                    </div>
                </th>
            </tr>
            {{#students}}
                <tr class="student collapse {{^contentcollapsed}}show{{/contentcollapsed}}" data-studentid="{{userinfo.id}}" data-planningid="{{planninginfo.planningid}}" id="collapse{{planninginfo.planningid}}" data-hasgrade="{{#grade}}1{{/grade}}">
                    <th class="user student-name">
                        <div class="d-flex align-items-center position-relative">
                            <img src="{{userinfo.userpictureurl}}" alt="{{userinfo.fullname}}" class="userpicture">
                            <a class="stretched-link" href="{{{profileurl}}}" data-region="studentname" data-studentid="{{userinfo.id}}" data-firstname="{{userinfo.firstname}}" data-lastname="{{userinfo.lastname}}" data-email="{{userinfo.email}}">{{userinfo.fullname}}</a>
                        </div>
                    </th>
                    <td class="t-grade stats">
                        <div class="d-flex flex-row align-items-baseline">
                            {{#planninginfo}}
                                {{#stats.eval}}
                                    <div class="evaluations p-l-1">
                                    <span class="badge {{#pass}}badge-success{{/pass}}{{^pass}}badge-secondary{{/pass}} badge-pill" data-toggle="tooltip"
                                          title="{{#str}}planning:page:badge:eval, mod_competvet{{/str}}">
                                        {{nbdone}}/{{nbrequired}}
                                        {{> mod_competvet/grading/svg/chat}}
                                    </span>
                                    </div>
                                {{/stats.eval}}
                                {{#stats.autoeval}}
                                    <div class="autoevaluations p-l-1">
                                        <span class="badge {{#pass}}badge-success{{/pass}}{{^pass}}badge-secondary{{/pass}} badge-pill" data-toggle="tooltip"
                                              title="{{#str}}planning:page:badge:autoeval, mod_competvet{{/str}}">
                                            {{nbdone}}/{{nbrequired}}
                                            {{> mod_competvet/grading/svg/chat}}
                                        </span>
                                    </div>
                                {{/stats.autoeval}}
                                {{#stats.cert}}
                                    <div class="certications p-l-1">
                                        <span class="badge {{#pass}}badge-success{{/pass}}{{^pass}}badge-secondary{{/pass}} badge-pill" data-toggle="tooltip"
                                              title="{{#str}}planning:page:badge:cert, mod_competvet{{/str}}">
                                            {{nbdone}}/{{nbrequired}}
                                            {{> mod_competvet/grading/svg/certif}}
                                        </span>
                                    </div>
                                {{/stats.cert}}
                                {{#stats.list}}
                                    <div class="cases p-l-1">
                                        <span class="badge {{#pass}}badge-success{{/pass}}{{^pass}}badge-secondary{{/pass}} badge-pill" data-toggle="tooltip"
                                              title="{{#str}}planning:page:badge:list, mod_competvet{{/str}}">
                                            {{nbdone}}/{{nbrequired}}
                                            {{> mod_competvet/grading/svg/list}}
                                        </span>
                                    </div>
                                {{/stats.list}}
                                <div class="info-competvet p-l-1">
                                <span class="badge badge-info icon-no-margin ml-4 badge-pill" data-toggle="tooltip" title="{{#str}}studentprogress, mod_competvet{{/str}}">
                                    <a class="text-white" href="{{{studenturl}}}">
                                        {{#pix}}i/info, core{{/pix}}
                                    </a>
                                </span>
                                </div>
                                <div class="info-competvet p-l-1">
                                <span class="badge badge-info icon-no-margin ml-4 badge-pill" data-toggle="tooltip" title="{{#str}}report:caselogentries, mod_competvet{{/str}}">
                                    <a class="text-white" href="{{{caselogreporturl}}}">
                                        {{#pix}}i/report, core{{/pix}}
                                    </a>
                                </span>
                                </div>
                            {{/planninginfo}}
                        </div>
                    </td>
                    <td class="t-grade globalgrade">
                        {{#grade}}
                            <div class="d-flex align-items-center">
                                <a class="btn btn-secondary btn-nowrap mr-2 btn-sm" href="{{{gradeurl}}}">
                                {{#isgrader}}{{#str}}changegrade, mod_competvet{{/str}}{{/isgrader}}{{^isgrader}}{{#str}}viewgrade, mod_competvet{{/str}}{{/isgrader}}
                                </a>
                                <span class="circle" data-region="usergrade" data-rawgrade="{{grade}}">{{grade}}  / 100</span>
                            </div>
                        {{/grade}}
                        {{^grade}}
                            <div class="d-flex align-items-center">
                                {{#isgrader}}
                                    <a class="btn btn-primary btn-nowrap mr-2 btn-sm" href="{{{gradeurl}}}">
                                        {{#isgrader}}{{#str}}gradestudent, mod_competvet{{/str}}{{/isgrader}}
                                    </a>
                                {{/isgrader}}
                                {{^isgrader}}
                                    <span class="text-dark">{{#str}}notgradedyet, mod_competvet{{/str}}</span>
                                {{/isgrader}}
                                <span class="circle bg-white border-0" data-region="usergrade">&nbsp;</span>
                            </div>
                        {{/grade}}
                    </td>
                    <td class="t-grade comments">
                        {{#grader}}
                            {{#timegraded}}
                                <div class="tex-sm text-muted float-right" data-region="timegraded">
                                    {{timegraded}}
                                </div>
                            {{/timegraded}}
                            <div class="media small align-items-end">
                                <img class="userpicturesmall mr-1" src="{{userpictureurl}}">
                                <div class="media-body" data-region="grader">
                                    {{fullname}}
                                </div>
                            </div>
                        {{/grader}}
                        <div data-region="comments">
                            {{feedback}}
                        </div>
                    </td>
                </tr>
            {{/students}}

        {{/plannings}}
    {{/categories}}
</table>
{{#js}}
    require(['{{modulename}}/local/view/plannings'], function(Plannings) {
    Plannings.init("{{situationname}}");
    });
{{/js}}