.manage {
    svg {
        .svg-fill {
            fill: #1d2125;
        }
        .svg-stroke {
            stroke: #1d2125;
        }
    }
    .tcell {
        padding: 0.5rem;
        border-bottom: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        display: flex;
        align-items: center;
        &.editable {
            padding: 0;
            input {
                height: 100%;
                border-radius: 0;
                &:focus {
                    border: 1px solid #007bff;
                    box-shadow: none;
                }
            }
        }
    }
    .tcell.move {
        width: 3rem;
        display: flex;
        justify-content: center;
    }
    .subitem {
        padding-left: 1.5rem;
    }
    .questioncolumn {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        width: 260px;
        min-width: 260px;
        padding: 0.5rem;
        flex: 0 0 160px;
    }

    .grader-cell.green {
        background-color: #dae8db;
    }

    .roundgrade {
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid #398439;
        margin-left: auto;
    }

    .roundgrade.average {
        border: 2px solid #5bc0de;
    }

    .questionname {
        display: flex;
    }

    .csstransforms .questionname {
        display: none;
    }

    .grader-cell {
        flex: 0 0 100px;
        max-width: 100px;
        border: 1px solid transparent;
        border-right: 1px dotted silver;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        vertical-align: middle;
        z-index: 1;
        padding: 1px 2px 2px 1px;
        margin: 0;
        white-space: nowrap;
        cursor: default;
        padding-left: 4px;
        padding-right: 4px;
    }

    .grader-cell.large {
        height: 4rem;
        white-space: initial;
    }

    .grader-cell.user {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .singlemarker {
        .inputclick+input {
            border-width: 0px;
        }

        .inputclick {
            border-width: 1px;
        }

        .inputtext {
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            display: block;
            width: calc(100% + 2px);
        }

        .grader-cell.green {
            background-color: #dae8db;
        }

        .roundgrade {
            width: 2rem;
            height: 2rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid #398439;
            margin-left: auto;
        }

        .roundgrade.average {
            border: 2px solid #5bc0de;
        }
    }

    .inputclick::focus {
        border: 1px dotted silver;
    }

    .greenbg .grader-cell {
        background-color: #dae8db;
    }
    .btn.jsbutton {
        opacity: 0;
    }
    .btn .savingicon {
        display: none;
    }
    .btn.saved {
        .defaulticon {
            display: none;
        }
        .savingicon {
            display: inline-block;
        }
    }
    &.jsenabled {
        .btn.jsbutton {
            opacity: 1;
        }
    }
    .error::after {
        content: "!";
        color: red;
        font-weight: bold;
        font-size: 1.5rem;
        position: absolute;
        top: 0;
        right: 5px;
        display: flex;
        align-items: center;
        z-index: 1;
    }
    .editable {
        background-color: aliceblue;
    }
    .sortable-list-is-dragged {
        background-color: aliceblue
    }
    .scriptchecked {
        opacity: 0;
    }
    .scriptchecked.ok {
        opacity: 1;
    }
    .scriptname {
        min-width: 10rem;
    }
    .nav-tabs button.nav-link {
        padding: 0.25rem;
        border: 1px solid #909090;
    }
    .scrollable {
        overflow-y: hidden;
        overflow-x: auto;
    }
}
