.competvet-view-todos {
    .userpicture {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
    }

    .btn-sort {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: var(--bs-secondary);
        color: var(--bs-gray-dark);
        width: 20px;
        height: 20px;
        border-radius: 10px;
        justify-content: center;

        &:hover, &:focus {
            background: var(--bs-light);
            text-decoration: none;
        }
    }
}
