.path-mod-competvet [data-region="review-panel"] {
    transition: opacity 0.5s ease, min-width 0.5s ease;
    overflow: hidden;
}

.path-mod-competvet [data-region="review-panel"].collapsed {
    min-width: 0;
    width:0;
    opacity:0;
}

.path-mod-competvet [data-region="review-panel"].expanded {
    width:100%;
}

.path-mod-competvet [data-region="review-panel"] {
    min-width: 80%;
    width:auto;
}

.path-mod-competvet [data-region="grade-panel"] {
    min-width: 20%;
    background-color: #eee;
}