{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_competvet/grading/auto-region/certifs

    TODO describe template certifs

    Example context (json):
    {
    }
}}
{{#certifs}}
    <div class="certif">
        <div class="col1">
            <div class="description mb-2"><strong>{{description}}</strong></div>
            <div>
            {{#allcomments}}
                {{> mod_competvet/comments}}
            {{/allcomments}}
            </div>
        </div>
        <div class="col2">
            <div class="d-flex progress-container align-items-center px-3">
                <div class="progress flex-fill mr-1">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{confidence}}" aria-valuemin="0" aria-valuemax="100" style="width: {{confidence}}%;">
                    </div>
                </div>
                {{confidence}}%
            </div>
        </div>
        <div class="col3">
            {{#seendone}}
                <i class="fa fa-check text-danger"></i>
            {{/seendone}}
            {{^seendone}}
                <i class="fa fa-times text-success"></i>
            {{/seendone}}
        </div>
        <div class="col4">
            {{#verified}}
                <i class="fa fa-check text-danger"></i>
            {{/verified}}
            {{^verified}}
                <i class="fa fa-times text-success"></i>
            {{/verified}}
        </div>
    </div>
{{/certifs}}