{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_competvet/manager/criteria/criterium

    A single criteria item in the criteria list.

    Example context (json):
    {
        "id": 1,
        "startdate": "10 January 2024",
        "enddate": "18 January 2024",
        "groupname": "Group 1",
        "nbstudents": 10,
        "viewurl": "http://localhost/moodle/mod/competvet/view.php?id=1",
    }
}}
<div data-region="criterium" data-id="{{criteriumid}}">
    <div class="row criterium-item">
        <div class="tcell move">
            <span class="drag-handle">{{#pix}}i/move_2d, core, {{#str}}move{{/str}}{{/pix}}</span>
        </div>
        <div class="col-9 tcell font-weight-bold{{#edit}} editable{{/edit}}">
            {{#edit}}<input type="text" class="form-control" value="{{{title}}}" placeholder="{{{placeholder}}}" data-field="title">{{/edit}}{{^edit}}{{{title}}}{{/edit}}
        </div>
        <div class="col-2 tcell">
            {{^edit}}
            <button class="btn btn-icon icon-no-margin mr-1 jsbutton" data-grid-id="{{gridid}}" data-id="{{criteriumid}}" data-action="edit" data-type="criterium">{{#pix}}i/edit, core, {{#str}}edit{{/str}}{{/pix}}</button>
            {{/edit}}
            {{#edit}}
            <button class="btn btn-icon icon-no-margin mr-1 jsbutton" data-grid-id="{{gridid}}" data-id="{{criteriumid}}" data-action="save" data-type="criterium">
                <span class="defaulticon">{{#pix}}e/save, core, {{#str}}save{{/str}}{{/pix}}</span>
                <span class="savingicon">{{#pix}}i/loading, core, {{#str}}saving, mod_competvet{{/str}}{{/pix}}</span>
            </button>
            {{/edit}}
            <button class="btn btn-icon icon-no-margin mr-1 jsbutton" data-grid-id="{{gridid}}" data-id="{{criteriumid}}" data-action="delete" data-type="criterium">{{#pix}}i/delete, core, {{#str}}delete{{/str}}{{/pix}}</button>
        </div>
    </div>
    <div class="sortable" data-type="option" data-grid-id="{{gridid}}" data-criterium-id="{{criteriumid}}">
        {{#options}}
            {{^deleted}}
                <div class="row option-item" data-region="option" data-id="{{optionid}}">
                    <div class="tcell move">
                        {{#edit}}<span class="drag-handle">{{#pix}}i/move_2d, core, {{#str}}move{{/str}}{{/pix}}</span>{{/edit}}
                    </div>
                    <div class="col-7 subitem tcell{{#edit}} editable{{/edit}}" >
                        {{#edit}}<input type="text" class="form-control" value="{{{title}}}" placeholder="{{{placeholder}}}" data-field="title">{{/edit}}{{^edit}}{{{title}}}{{/edit}}
                    </div>
                    <div class="col-2 tcell{{#edit}} editable{{/edit}}">
                        {{#edit}}<input type="number" class="form-control" value="{{{grade}}}" data-field="grade">{{/edit}}{{^edit}}{{{grade}}}{{/edit}}
                    </div>
                    <div class="col-2 tcell">
                        {{#edit}}
                        <button class="btn btn-icon icon-no-margin mr-1 jsbutton" data-grid-id="{{gridid}}" data-criterium-id="{{criteriumid}}" data-id="{{optionid}}" data-action="delete" data-type="option">{{#pix}}i/delete, core, {{#str}}delete{{/str}}{{/pix}}</button>
                        {{/edit}}
                    </div>
                </div>
            {{/deleted}}
        {{/options}}
    </div>
    {{#edit}}
    <div class="row justify-content-end">
        <div class="col-2 ">
            <a class="btn btn-link jsbutton" href="#" data-grid-id="{{gridid}}" data-criterium-id="{{criteriumid}}" data-action="add" data-type="option">
                {{#str}}addoption, mod_competvet{{/str}}
            </a>
        </div>
    </div>
    {{/edit}}
</div>