{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_competvet/manager/criteria/grids

    TODO describe template script

    Example context (json):
    {
        "gridid": 1,
        "gridtext": "Situation 1",
        "collapsed": false,
        "sortorder": 1,
        "criteria": [
            {
                "id": 1,
                "name": "Criteria 1",
                "description": "Description 1",
                "sortorder": 1
            },
            {
                "id": 2,
                "name": "Criteria 2",
                "description": "Description 2",
                "sortorder": 2
            }
        ]
    }
}}
<div class="h5 mb-2">{{#str}}defaultcriteria, mod_competvet{{/str}}</div>
<div class="small mb-2">{{#str}}defaultcriteria_help, mod_competvet{{/str}}</div>
{{#grids}}
{{^deleted}}
<div class="p-2 border mb-3" data-region="grid" data-id="{{gridid}}" data-sortorder="{{sortorder}}">
    <div class="position-relative d-flex ftoggler align-items-center position-relative mr-2 pb-2" data-region="scripts-item" data-script-id="{{gridid}}">
        <a data-toggle="collapse"
        href="#grid{{gridid}}"
        role="button"
        aria-expanded="{{#collapsed}}false{{/collapsed}}{{^collapsed}}true{{/collapsed}}"
        aria-controls="#grid{{gridid}}"
        class="btn btn-icon icon-no-margin mr-1 mr-3 ml-4 icons-collapse-expand fheader {{#collapsed}}collapsed{{/collapsed}}">
            <span class="expanded-icon icon-no-margin p-2" title="{{#str}} collapse, core {{/str}}">
                {{#pix}} t/expandedchevron, core {{/pix}}
            </span>
            <span class="collapsed-icon icon-no-margin p-2" title="{{#str}} expand, core {{/str}}">
                <span class="dir-rtl-hide">{{#pix}} t/collapsedchevron, core {{/pix}}</span>
                <span class="dir-ltr-hide">{{#pix}} t/collapsedchevron_rtl, core {{/pix}}</span>
            </span>
            <span class="sr-only">{{{gridtext}}}</span>
        </a>
        <h3 class="gridname">
            {{#edit}}<input type="text" class="form-control" value="{{{gridname}}}" data-field="gridname">{{/edit}}{{^edit}}{{{gridname}}}{{/edit}}
        </h3>
        <div class="span2 col-2 p-3 d-flex">
            {{#canedit}}
                {{^edit}}
                    <button class="btn btn-icon icon-no-margin mr-1 jsbutton" data-action="edit" data-id="{{gridid}}" data-type="grid">{{#pix}}i/edit, core, {{#str}}edit{{/str}}{{/pix}}</button>
                {{/edit}}
                {{#edit}}
                    <button class="btn btn-icon icon-no-margin mr-1 jsbutton" data-action="save" data-id="{{gridid}}" data-type="grid">
                        <span class="defaulticon">{{#pix}}e/save, core, {{#str}}save{{/str}}{{/pix}}</span>
                        <span class="savingicon">{{#pix}}i/loading, core, {{#str}}saving, mod_competvet{{/str}}{{/pix}}</span>
                    </button>
                {{/edit}}
                <button class="btn btn-icon icon-no-margin mr-1 jsbutton" data-action="delete" data-id="{{gridid}}" data-type="grid">{{#pix}}i/delete, core, {{#str}}delete{{/str}}{{/pix}}</button>
            {{/canedit}}
        </div>
    </div>
    <div class="collapse show" id="grid{{gridid}}">
        <div class="pl-4">
            <div class="criteria container-fluid sortable" data-type="criterion" data-grid-id="{{gridid}}">
                {{#criteria}}
                    {{^deleted}}
                        {{> mod_competvet/manager/criteria/criterion}}
                    {{/deleted}}
                {{/criteria}}
                <div class="row" data-region="criteria-item">
                    <div class="movecrit" style="height: 1px">
                        <div data-drag-type="move">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                {{#canedit}}
                <a class="btn btn-link jsbutton" href="#" data-grid-id="{{gridid}}" data-action="add" data-type="criterion">
                    {{#str}}addcriterion, mod_competvet{{/str}}
                </a>
                {{/canedit}}
            </div>
        </div>
    </div>
</div>
{{/deleted}}
{{/grids}}