{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_competvet/grading/app

    Actions panel at the bottom of the competvet grading UI.

    Classes required for JS:
    * Uses some bootstrap classes, but for visual appeal only.

    Data attributes required for JS:
    * data-region, data-first-userid, data-courseid, data-contextid, data-competvetid

    Context variables required for this template:
    * see mod/competvet/classes/output/grading_app.php

    This template includes ajax functionality, so it cannot be shown in the template library.
}}
<div class="container-fluid d-flex flex-column" id="grading-app-{{uniqid}}" data-cmid="{{cmid}}">
    <div class="d-flex flex-column">
        <div data-region="grading-navigation-panel">
            {{> mod_competvet/grading/navigation }}
        </div>
        <div class="d-flex flex-row" data-region="main-grading-panel">
            <div data-region="review-panel">
            </div>
            <div data-region="grade-panel">
                {{#gradeitems}}
                    <div
                            data-region="grader-item"
                            data-cmid="{{cmid}}"
                            data-contextid="{{contextid}}"
                            data-grading-component="{{component}}"
                            data-grading-component-subtype="{{componentsubtype}}"
                            data-item-name="{{itemname}}"
                    >
                        <h3>{{itemfullname}}</h3>
                        <div data-region="grader-container"></div>
                    </div>
                {{/gradeitems}}
            </div>
        </div>
        <div data-region="grade-actions-panel" class=" d-flex flex-row">
            <div data-region="grade-actions" class="flex-grow-1">
                <div class="tool_usertours-resettourcontainer float-left"></div>
                {{> mod_competvet/grading/actions }}
            </div>
            <div data-region="layout-control" class="align-self-end">
            </div>
        </div>
        </div>
        <div data-region="overlay" class="moodle-has-zindex">
            {{> mod_competvet/grading/save_in_progress }}
        </div>
    </div>
</div>
{{#js}}
    require(['mod_competvet/local/grading_app_component'], function(component) {
        component.init(document.getElementById('grading-app-{{uniqid}}'));
    });
{{/js}}