{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_competvet/emails/items_todo

    TODO describe template items_todo

    Example context (json):
    {
    }
}}

<p>Bonjour,</p>

<p>Nous constatons que vous avez des actions en attente sur l'appli CompetVet. Ceci signifie que des étudiants vous ont sollicité pour réaliser une observation (Eval) ou pour certifier la réalisation d'un incontournable clinique (Certif).</p>

<p>Ils ont besoin de vous ! Votre action est fondamentale pour que les étudiants puissent valider leur rotation.</p>

<p>Pour cela, quelques clics suffisent : <strong>ouvrez l'application CompetVet</strong> sur votre téléphone et <strong>rendez vous dans l'onglet : "Liste des tâches".</strong></p>

<p>Tout ce que vous avez à faire est détaillé dans cette liste.</p>

<p>Vous ne recevrez plus ce message dès que cette liste de tâches sera vide.</p>

<p>Merci pour votre implication !</p>

{{> mod_competvet/emails/footer}}