{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_competvet/grading/components/globalgrade

    TODO describe template globalgrade

    Example context (json):
    {
        "globalgrade": true,
        "cangrade": true
    }
}}
{{#globalgrade}}
    <div class="user-grade {{#validated}}was-validated{{/validated}}">
        <div class="h4 text-center border-bottom pb-2">{{#str}}evaluation, mod_competvet{{/str}}</div>
        <div class="d-flex">
            <div class="form-group {{^cangrade}}d-none{{/cangrade}}">
                <label >
                    {{#str}}suggestedgrade, mod_competvet{{/str}} : / 100
                </label>
                <div class="d-flex align-items-center w-100">
                    <div id="suggestedgrade" class="font-weight-bold">{{suggestedgrade}}</div>
                    <button type="button" class="btn btn-icon border-info icon-no-margin ml-5" data-toggle="popover" data-placement="bottom" data-html="true" data-content="{{{gradecalculation}}}">
                        {{#pix}}i/info{{/pix}}
                    </button>
                </div>
                <a
                    href="#"
                    class="small mt-2 {{#hideaccept}}d-none{{/hideaccept}}"
                    data-action="acceptgrade"
                    data-source="#suggestedgrade"
                    data-target="#moodlegrade"
                >
                    {{#str}}acceptgrade, mod_competvet{{/str}}
                </a>
            </div>
            <div class="form-group">
                <label class="h5" for="moodlegrade">
                    {{#str}}finalgrade, mod_competvet{{/str}} : / 100
                </label>
                <div>
                    <input
                        id="moodlegrade"
                        type="number"
                        class="form-control form-control-lg w-auto{{!
                        }}{{#gradesuccess}} is-valid{{/gradesuccess}}{{!
                        }}{{#gradeerror}} is-invalid{{/gradeerror}}"
                        name="finalgrade"
                        data-field="finalgrade"
                        value="{{finalgrade}}"
                        min="0"
                        max="100"
                        step="1"
                        {{^cangrade}}disabled{{/cangrade}}
                    >
                </div>
            </div>
            <div class="form-group">
                <label>
                    {{#str}}comment, mod_competvet{{/str}} :
                </label>
                <textarea
                    class="form-control{{!
                    }}{{#comment}}{{!
                        }}{{#commentsuccess}} is-valid{{/commentsuccess}}{{!
                        }}{{#commenterror}} is-invalid{{/commenterror}}{{!
                    }}{{/comment}}"
                    name="comment"
                    data-action="comment"
                    data-grade-id="0"
                    {{^cangrade}}disabled{{/cangrade}}
                    data-criterion-id="4">{{comment}}</textarea>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <div>
                    <button type="submit" class="btn btn-primary {{^cangrade}}d-none{{/cangrade}}" data-action="save">
                        {{#str}}submit, mod_competvet{{/str}}
                    </button>
                </div>
            </div>
        </div>
    </div>
{{/globalgrade}}